@font-face {
  font-family: Gilroy;
  src: url(./fonts/Gilroy.ttf);
}

@font-face {
  font-family: Nekst;
  src: url(./fonts/Nekst.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-decoration: none;
  list-style: none;
}

:root {
  --black: #111;
  --grey: #575757;
  --grey_light: #f3f3f4;
  --orange: #ff9514;
}

h1 {
  font-family: "Nekst";
  font-size: 54px;
  line-height: 90%;
  color: var(--black);
  margin-top: 213px;
}

h2 {
  font-family: "Nekst";
  font-size: 54px;
  line-height: 90%;
  color: var(--grey);
}

label {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 20px;
  color: var(--grey);
}

.lease-calculator-form {
  display: grid;
  padding: 2em 3em;
}

.lease-form-row1 {
  display: flex;
  justify-content: space-between;
}

.lease-form-row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.form-input {
  width: 427px;
  height: 68px;
  background: var(--grey_light);
  border-radius: 16px;
  padding: 16px 24px;
  font-family: "Nekst";
  font-size: 30px;
  line-height: 36px;
  color: var(--grey);
  margin-top: 24px;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 426px;
  height: 68px;
  background: var(--orange);
  border-radius: 40px;
  font-family: "Nekst";
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  border: none;
  cursor: pointer;
}


@media only screen and (max-width: 1024px) {

  h1 {
    margin-top: 100px;
  }
  
  .lease-calculator-form {
    display: grid;
    padding: 2em 3em;
  }

  .lease-form-row1, .lease-form-row2 {
    display: grid;
    gap: 2em;
  }

  .lease-form-row2 {
    margin-top: 37px;
    grid-template-columns: 1fr 1fr;
  }
  
  .form-input {
    width: 90.625vw;
  }

  .form-item {
    display: grid;
  }
  
  .form-button {
    width: 345px;
    margin-top: 44px;
  }
}